/*@-webkit-keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomOutUp {
  -webkit-animation-name: zoomOutUp;
  animation-name: zoomOutUp;
}*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #262626;
}

@font-face {
  font-family: NeoSans;
  src:url(../fonts/NeoSansPro-Regular.woff);
}

@font-face {
  font-family: 'Myriad';
  src:url('../fonts/MyriadPro-Semibold.woff');
}

.main-header {
  background-color: #000;
  min-height: 90px;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.main-header__navbar {
  width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  position: relative;
}

.main-header__nav-menu {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__nav-list-item {
  list-style-type: none;
  margin-right: 15px;
}

.main-header__nav-list-item:last-child {
  margin-right: 0;
}

.main-header__nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Myriad;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #8F8F8F;
  transition: ease-in-out .3s;
}

.main-header__nav-link:hover {
  color: #fff;
  transition: ease-in-out .3s;
}

.logo {
  display: block;
  width: 105px;
  height: 80px;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.main-header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lang-label {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(50%, -50%);
  display: flex;
  align-items: center;
  cursor: pointer;
  background-image: url(../images/icons/down-arrow.svg);
}

.lang-label__dropdown-img {
  display: block;
  width: 10px;
  height: 10px;
}

.lang-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: #fff;
  border: none;
  letter-spacing: 2px;
  font-family: Myriad;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.lang-option {
  color: #fff;
  text-transform: uppercase;
  font-family: Myriad;
  font-size: 16px;
  text-transform: uppercase;
}

.main-header__social-menu {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__social-menu-item {
  list-style-type: none;
  margin-right: 24px;
}

.main-header__social-menu-item:last-child {
  margin-right: 0;
}

.main-header__social-link {
  text-decoration: none;
  display: block;
  width: 18px;
  height: 18px;
}

.social-img {
  width: 100%;
  height: 100%;
  fill: #8F8F8F;
  transition: ease-in-out .4s;
}

.social-img:hover {
  fill: #FFF;
  transition: ease-in-out .4s;
}

.secondary-title {
  font-family: Myriad;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 24px;
}

.tertinary-title {
  font-family: Myriad;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.gallery {
  padding-top: 50px;
  position: relative;
  overflow: hidden;
}

.gallery__slider {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.gallery__slider-img-box {
  width: 252px;
  height: 252px;
  overflow: hidden;
  position: relative;
  transition: ease-in-out .4s;
}

.gallery__slider-img-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  transition: ease-in .4s;
}

.gallery__slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease-in .4s;
}

.gallery__slider-img-link:hover {
  transform: scale(1.1);
  transition: ease-in .4s;
  object-fit: cover;
  position: relative;
}

.gallery__slider-img-link::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: ease-in .4s;
}

.gallery__slider-img-link:hover::before {
  opacity: .8;
  transition: ease-in .4s;
}

.gallery__slider-img-btn--hover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 23px 23px;
  transition: ease-in-out .4s;
}

.gallery__slider-img-link:hover > .gallery__slider-img-btn--hover {
  display: flex;
  transition: ease-in-out .4s;
}

.photo-gallery__opening-button,
.video-gallery__opening-button {
  margin: 0;
  padding: 0;
  background: transparent url(../images/icons/plus-zoom.svg) center;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: ease-in-out .4s;
}

.video-gallery__opening-button {
  background: transparent url(../images/icons/play-button.svg) center;
}

.gallery__slider-navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  margin: 0;
  padding: 0;
  border: none;
  width: 70px;
  height: 70px;
  background: transparent url(../images/icons/arrow-right.svg) center;
  background-size: cover;
  cursor: pointer;
}

.gallery__slider-nav-arrow-left {
  transform: rotate(180deg);
}

.gallery__slider-nav-arrow-left::before,
.gallery__slider-nav-arrow-right::before {
  content: '';
  height: 400px;
  width: 200px;
  background: rgba(255,255,255, 0.3);
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20em 0 0 20em;
  transition: ease-in-out .6s;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

.gallery__slider-nav-arrow-left::before {
  left: -70px;
}

.gallery__slider-nav-arrow-right::before {
  right: -50px;
 }

.gallery__slider-nav-arrow-left:hover::before,
.gallery__slider-nav-arrow-right:hover::before {
  visibility: visible;
  transition: ease-in-out .6s;
  opacity: 1;
}

.section-padding {
  padding-top: 50px;
}

.box-padding {
  padding: 0 70px;
}

.about-us__content-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-us__carousel-container {
  display: flex;
  transition: transform .5s;
  will-change: transform;
  position: relative;
  z-index: 1;
  height: 100%;
}

.about-us__carousel-item {
  width: 450px;
  height: 575px;
}

.about-us__carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us__desc-title {
  padding-bottom: 14px;
  border-bottom: 1px solid #fff;
  width: 218.1px;
}

.about-us__description {
  width: 100%;
  margin-left: 100px;
}

.about-us__desc-text-box {
  width: 70%;
}

.about-us__desc-text-box p {
  font-family: NeoSans;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.contacts__content-box {
  display: flex;
}

.contacts__menu {
  margin: 0;
  padding: 0;
}

.contacts__info-box p {
  color: #fff;
  font-size: 16px;
  font-family: NeoSans;
}

.contacts__list-item {
  font-family: NeoSans;
  list-style-type: none;
  color: #fff;
  font-size: 16px;
}

.contacts__link {
  text-decoration: none;
  color: rgba(255, 255, 255, .7);
  font-family: NeoSans;
  font-size: 16px;
}

.button {
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: #fff;
  font-family: NeoSans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  /*padding: 10px 35px;*/
  cursor: pointer;
  transition: ease-in-out .3s;
  width: 163px;
  height: 40px;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  letter-spacing: 4px;
  transition: ease-in-out .3s;
}

.contacts__callback-btn {
  margin-top: 50px;
}

.contacts__instagram-photos {
  width: 430px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.contacts__instagram-photo-box {
  display: block;
  width: 140px;
  height: 140px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.contacts__instagram-photo-box:nth-child(3n+3) {
  margin-right: 0;
}

.contacts__instagram-photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-footer {
  background-color: #000;
  min-height: 150px;
  margin-top: 100px;
}

.main-footer__wrap {
  display: flex;
  width: 100%;
  min-height: 150px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-footer__navbar {
  display: flex;
  align-items: center;
}

.main-footer__menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 240px;
}

.main-footer__list-item {
  list-style-type: none;
  margin-bottom: 13px;
}

.main-footer__list-item:nth-child(4) {
  margin-left: 24px;
}

.main-footer__list-item:nth-child(2) {
  margin-left: 59px;
}

.main-footer__list-item:nth-child(3),
.main-footer__list-item:nth-child(4) {
  margin-bottom: 0;
}

.main-footer__nav-link {
  text-decoration: none;
  color: #8F8F8F;
  font-size: 20px;
  font-family: Myriad;
  /*font-weight: 600;*/
  line-height: 24px;
  text-transform: uppercase;
  transition: ease-in-out .4s;
  letter-spacing: 2px;
}

.main-footer__nav-link:hover {
  color: #fff;
  transition: ease-in-out .4s;
}

.booking-btn {
  margin-left: 37px;
}

.main-footer__logo-and-slogan {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 150px;
  /*z-index: -1;*/
}

.main-footer__logo-and-slogan p {
  font-size: 16px;
  font-family: NeoSans;
  text-align: center;
  text-transform: uppercase;
  line-height: 19px;
  color: #fff;
  margin-left: 50px;
}

.main-footer__social-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.main-footer__social-list-item {
  list-style-type: none;
  margin-right: 17px;
  margin-bottom: 17px;
}

.main-footer__social-list-item:nth-child(3n+3) {
  margin-right: 0;
}
.main-footer__social-list-item:nth-child(4),
.main-footer__social-list-item:nth-child(5),
.main-footer__social-list-item:nth-child(6) {
  margin-bottom: 0;
}

.main-footer__social-link {
  display: block;
  width: 28px;
  height: 28px;
}

.main-footer__copyrigt-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(268.88deg, #000000 0%, rgba(55, 55, 55, 0.470574) 56.08%, rgba(158, 158, 158, 0) 100%);
  height: 25px;
}

.main-footer__copyrigt-container p {
  color: #fff;
  font-family: Myriad;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0;
}

.background-popup {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  min-height: 220px;
  background: #5F5F5F;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent url(../images/icons/close-button.svg) center;
  background-size: cover;
  width: 15px;
  height: 15px;
  cursor: pointer;
  padding: 0;
}

.callback-popup__form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 24px;
}

.callback-popup__label {
  font-family: Myriad;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.callback-popup__input {
  width: 100%;
  margin-top: 5px;
  padding-left: 24px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  color: #FFF;
}

.callback-popup__input--tel {
  background: rgba(255, 255, 255, 0.3) url(../images/icons/phone-call.svg) center no-repeat;
  background-position: 5px center;
  background-size: 13px 13px;
}

.callback-popup__input::-moz-placeholder,
.callback-popup__input::-webkit-input-placeholder {
  color: #eee;
}

.callback-popup__submit-btn {
  margin-top: 15px;
  width: 100px;
  height: 28px;
}

.booking-popup {
  min-height: 500px;
}